{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>{% block title %}Document{% endblock title %}</title>
        <link type="text/css" href="{% static 'css/error_page.css' %}" rel="stylesheet">
        {% block links %}
            <link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
        {% endblock %}

    </head>
    <body>
        {% block content %}
            <h1>Something went wrong</h1>
        {% endblock %}
        <!-- <script src="{% static 'js/error_page.js' %}"></script> -->
    </body>
    
</html>