{% extends 'app/base.html' %}

{% block header %}
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="{% url 'home' %}">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">FAQ <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
{% endblock %}

{% block page %}
    <main role="main">
        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="container">
          <!-- Example row of columns -->
          <div class="row">
            <div class="col-md-12">
              <h2>Week schedule</h2>
              <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Day</th>
                                <th scope="col">Subject</th>
                                <th scope="col">Class</th>
                                <th scope="col">Teacher</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for day_name in days %}
                                <tr>
                                    <th scope="row">{{day_name}}</th>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                  </div>
            </div>
          </div>
  
          <hr>
  
        </div> <!-- /container -->
  
    </main>
{% endblock %}